##python3.7 for OSX and Linux
##pip version 19.2.3
##Installing Third-Party Modules
pip3 install install PyPDF2
pip3 install send2trash
pip3 install requests
pip3 install beautifulsoup4

pip3 install selenium
pip3 install openpyxl
pip3 install python-docx
pip3 install imapclient
pip3 install pyzmail36
pip3 install twilio
pip3 install pillow
pip3 install pyobjc-core
pip3 install pyobjc
pip3 install python3-xlib
pip3 install pyautogui
###additional

git+https://github.com/fuxi2003/24thWPC.git